:root{
    /* css variable */
    --primary-colour:#6c5ce7;
    --secondary-colour:#a29bfe;
    --dark-color:#2d3436;
    --ligth-color:#f5f6fa;
    --player-color:#fd79a8;
    --computer-color:#00cec9;
    --tie-color:#636e72;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    background: linear-gradient(135deg,#667eea 0%,#764ba2,100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-wrapper{
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 800px;
    padding: 200px;
    display: flex;
    flex-direction: column;
}
.game-card{
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}
.game-heard{
    text-align: center;
    margin-bottom: 15px;
    flex-shrink: 0;
}

.game-heard h1{
    font-weight: 700px;
    margin-bottom: 15px;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.game-heard h1 i{
    color: var(--computer-color);
}
.score-board{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px 10px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.score span:last-child{
    font-size: 1.3rem;
    font-weight: bold;
}

.player-score{
    color: var(--player-color);
    border: 2px solid var(--player-color);
}

.computer-score{
    color: var(--computer-color);
    border: 2px solid var(--computer-color);
}

.ties{
    color: var(--tie-color);
    border: 2px solid var(--tie-color);
}

.game-board{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px 0;
    flex: 1;
    justify-content: center;
}
.board-row{
    display: flex;
    gap: 8px;
    flex: 1;
}